# Node
node_modules/
.env
.env.local

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# OS
.DS_Store

# Editors
.vscode/
.idea/

# PocketBase
backend/pocketbase/pocketbase
backend/pocketbase/pb_data/
